.card-3d {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.25);
background-color: rgb(var(--nhl_stenden_corp_cyan));
  display: flex;
  flex-direction: column;
}

.card-3d h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: white;
}

.card-3d p {
  font-size: 1rem;
  color: white;
  line-height: 1.4;
}
