.learnMorePage {
    background-color: rgb(--nhl_stenden_corp_blue);
}

.learnMoreHeader{
    margin-inline: 50px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    font-size: 1.8rem;
}

.tagline {
    color: white;
    
}
.learnMoreHeader .logo_learnMore {
    width: 150px;
    margin-block: 30px;
}

.learnMorePage .whiteWaves {
    margin-left: 0;
}

.whiteWaves {
    height: 300px;
}

.learnMoreHeader .tagline{
    margin-top: 80px;
}

.learn-more-container{
    background-color: #005AA7;
    min-height: 100vh;

}

.lets-go-to-links{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;          /* let child use 100% */
    margin-top: 2rem;     /* optional */
}
