.learn-more-page {
    background-color: rgb(--nhl_stenden_corp_blue);
}

.learn-more-header{
    margin-left: 4.5rem;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    font-size: 1.8rem;
}

.tagline {
    color: white;
    
}
.learn-more-header .logo_learnMore {
    width: 150px;
    margin-block: 30px;
}

.learn-more-page .white-waves {
    margin-right: 10rem;
}

.white-waves {
    height: 300px;
}

.learn-more-header .tagline{
    margin-top: 80px;
}

.learn-more-container{
    background-color: #005AA7;
    min-height: 100vh;

}

.learn-more-links{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;          /* let child use 100% */
}
