.location-card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 2px solid gray;
    padding: 2rem;
    gap: 1rem;
}

.location-card img {
    width: 100%;
    border-radius: 1rem;
    height: auto;
}