.location-card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 2px solid gray;
    padding: 2rem;
    gap: 1rem;
}

.location-card img {
    width: 100%;
    border-radius: 1rem;
    height: auto;
}

.location-card .more-info {
    margin-top: 0.5rem;
    color: rgb(var(--nhl_stenden_corp_blue));
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}