.filter-button {
    color: black;
    font-size: 1.3vh;
    background-color: white;
    border: 0.2vh solid rgb(194, 192, 192);
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    min-width: 3.5rem;
}

.filter-button.active {
    background-color: rgb(var(--nhl_stenden_corp_cyan));
    color: white;
    border-color: rgb(var(--nhl_stenden_corp_cyan));
}