.letsgofooter{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    justify-self: center;
}

.footer-h1{
    color: white;
}

.footer-image{
    width: 50px;
}