nav {
    display: inline-flex;
    width: 100%;
    background-color: rgb(var(--nhl_stenden_corp_blue));
    justify-content: space-between;
    font-family: 'CeraPro';
    user-select: none;
    padding: 1rem 3rem;
}

.logo img {
    height: 8vh;
}

.menu {
    background-color: white;
    position: fixed;
    top: 7rem;
    left: 0; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;
}

.menu-open {
    position: fixed;
}

.nav-link.active, .nav-link {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu > :nth-child(1) {
    margin-top: 2rem;
}

.menu .arrow {
    height: 2rem;
    stroke: rgb(var(--nhl_stenden_corp_blue));
    margin-right: 2rem;
}

.hidden {
    display: none;
}

/* PHONE SCREEN */
@media screen and (max-width: 600px) {

    .burger-btn {
        margin-top: 0.8rem;
    }

    .nav-links {
        display: none;
    }

    .logo img {
        height: 5rem;
    }
}

/* TABLET SCREEN */
@media screen and (min-width: 600px) and (max-width : 990px) {

    .burger-btn {
        margin-top: 0.8rem;
    }

    .nav-links {
        display: none;
    }

    .logo img {
        height: 5rem;
    }
}

/* LAPTOP AND DESKTOP SCREEN */
@media screen and (min-width: 990px) {

    .hamburger-menu {
        display: none;
    }

    .nav-links {
        display: flex;
        gap: 2rem;
        align-items: flex-end;
    }
    
    .nav-link {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        padding: .25rem .5rem;
        border-radius: 0.5rem;
        transition:  all 0.2s ease-in-out;
    }
    .nav-link:hover {
        text-decoration: underline;
        transform: translateY(-0.1rem);
    }
    
    .nav-link.active {
        text-decoration: underline;
    }

    .menu {
        display: none;
    }
}

