
.carousel-3d {
  position: relative;
  width: 60%;
  height: 24rem;
  margin: 3rem auto;
  perspective: 900px;
  transform-style: preserve-3d;
}

.card-3d-container {
  position: absolute;
  inset: 0;
  transform:
    rotateY(calc(var(--offset) * 50deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -28rem))
    translateX(
      calc(
        var(--offset) / max(var(--abs-offset), 0.0001) * -4rem
      )
    );
  filter: blur(calc(var(--abs-offset) * 0.7rem));
  opacity: calc(1 - var(--abs-offset) * 0.25);
  transition: all 0.35s ease-out;
  pointer-events: var(--active);
}


.nav-3d {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.8rem;
  color: white;
  background: black;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}

.nav-3d-left {
  left: -4rem;
}

.nav-3d-right {
  right: -4rem;
}


@media (max-width: 600px) {
  .carousel-3d {
    width: 18rem;
    height: 18rem;
  }
}
