.carousel-container {
  width: 100%;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; 
}

.carousel-window {
  width: 100%;
    height: 100%;
  
  overflow: hidden;
  position: relative;
}

.side-btn {
  background: black;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
}

