.page-title :is(h1, h2) {
    text-align: center;
}

.page-title h1 {
    font-size: 5vh;
    margin: 2rem;
}

.page-title h2 {
    margin: 2rem;
}

.faq-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 8vh;
    padding-inline: 10rem;
}